<a href="https://colab.research.google.com/github/Teuzinl/dados_turisticos/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas
import pandas as pd


dados = {
    "Estado": ["SP", "RJ", "BA", "MG", "RS", "SC", "PR", "PE", "CE", "PA"],
    "Turistas_Nacionais": [12000000, 8000000, 6000000, 5000000, 4500000, 4300000, 4200000, 3900000, 3700000, 3500000],
    "Turistas_Internacionais": [2500000, 1800000, 1000000, 900000, 850000, 800000, 780000, 600000, 580000, 550000]
}

df = pd.DataFrame(dados)

df["Total_Turistas"] = df["Turistas_Nacionais"] + df["Turistas_Internacionais"]

df_ordenado = df.sort_values(by="Total_Turistas", ascending=False)

print(df_ordenado)

print("\n--- Estatísticas Gerais ---")
print("Total de turistas no Brasil:", df["Total_Turistas"].sum())
print("Média de turistas por estado:", df["Total_Turistas"].mean())

estado_top = df_ordenado.iloc[0]
print(f"\nEstado com mais turistas: {estado_top['Estado']} ({estado_top['Total_Turistas']:,} turistas)")

  Estado  Turistas_Nacionais  Turistas_Internacionais  Total_Turistas
0     SP            12000000                  2500000        14500000
1     RJ             8000000                  1800000         9800000
2     BA             6000000                  1000000         7000000
3     MG             5000000                   900000         5900000
4     RS             4500000                   850000         5350000
5     SC             4300000                   800000         5100000
6     PR             4200000                   780000         4980000
7     PE             3900000                   600000         4500000
8     CE             3700000                   580000         4280000
9     PA             3500000                   550000         4050000

--- Estatísticas Gerais ---
Total de turistas no Brasil: 65460000
Média de turistas por estado: 6546000.0

Estado com mais turistas: SP (14,500,000 turistas)